/* right justify text for article body */
.post  {
  text-align: justify;
}

.page {
  text-align: justify;
}

/* higher fontsize for `code in backquotes` and code blocks */
code {
  font-size: 18px;
}